@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
body {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sub-text1 {
  color: gray;
  font-size: 40%;
}
main .back{
    background-color: orange;
}
#pagetopimg {
  height: 500px;
  filter: brightness(70%);
transform: rotate(3deg);
  margin-top: 5%;
}
#company-page #pagetopimg {
    background: url("../images/gaiyo.jpg") no-repeat center center / cover;
}
#recruit-page #pagetopimg {
    background: url("../images/saiyo.jpg") no-repeat center center / cover;
}

#service-page #pagetopimg {
    background: url("../images/service.jpg") no-repeat center center / cover;
}
#shop-page #pagetopimg {
    background: url("../images/shops.jpg") no-repeat center center / cover;
}
#svg-box {
  height: 80%;
  /* background-image: linear-gradient(0deg, #ff7a11 25%, transparent 25%, transparent 50%, #ff7a11 50%, #ff7a11 75%, transparent 75%, transparent); */
  /* background-size: 10px 10px; */
  /* background-color: #FF7000; */
  /* width: 90%; */
  /* margin-left: 5%; */
  position: relative;
    background-image: linear-gradient(90deg, rgba(253, 177, 170, 1), rgba(240, 226, 226, 1));
    background-size: cover;
  /* top: 8%; */
}
#svg-box p {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  top: 15%;
  font-size: 400%;
  color: white;
    opacity: 0;
    transform: translateX(-260px); /* 左から出てくる */
    /* animation-delay: 0.5s; */
    animation: slideInLeft 1.0s ease-out forwards;

  text-shadow: 12px 2px 5px rgba(32, 32, 32, 0.4);
  text-align: left;
  margin-left: 10%;
    font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#svg-box img {
height: 100%;
  position: relative;
  left: 35%;
}
#svg-box p .ue{


}
#service-page .page img{
border: none;
  max-width: 100%;
  height: auto;
  width: 35%;
  padding: 3%;
  border-radius: 200px;
}
#greeting img{
    display: block;
    margin: 0 auto;
    height: 60%;
}

#greeting .daihyo_name {
  font-size: 120%;
  font-weight: bold;
  padding-right: 2%;
}
#greeting .daihyo_name span{
  font-size: 80%;
  font-weight: lighter;
  }
#service {
  display: block;
}
#service .page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
#message h1 {
  text-align: center;
  color: black;
}
#message h1 span {
  font-size: 130%;
  padding: 1%;
}
#message p {
  text-align: center;
}
.tenposyo{
text-align: center;
  color: black;
  font-size: 250%;
}
#benefit th {
  vertical-align: baseline;
}
.titles h1 {
  color: black;
}
#recruit #message{
    margin-bottom: 10%;
}

#recruit .page{
  display: flex;
  position: relative;
  left: 35%;
}
#benefit .page p {
  padding: 25px;
  font-weight: bold;
}
#benefit {
  border: solid #bfbfbf 1px;
  border-radius: 106px;
}

#shop .one-page {
  width: 40%;
}
#shop .page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
#fc .page {
  display: flex;
  margin-bottom: 10%;
  justify-content: space-around;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  background-color: white;
  padding: 50px;
}
#fc img {
  width: 360px;
}
.button-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-bottom: solid 5px #ac5aad;
    border-radius: 5px;
    background-color: #dc8add;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    transition: .5s ease;
}

.button-4:hover {
    transform: translateY(3px);
    border-bottom-width: 2px;
}
#company-info table{
  width: 100%;
  border-collapse: collapse;
}
#company-info table tr{
  border-bottom: solid 2px white;
}
#company-info table tr:last-child{
  border-bottom: none;
}
#company-info table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 10px 0;
}
#company-info table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
#company-info table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}
#recruit .button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #ffa348;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

#recruit .button-2::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
}

#recruit .button-2:hover {
    background-color: #ef9338;
}
@media screen and (max-width:1500px) {
    #service.page {
      display: block;
      margin-bottom: 10%;
      border: solid 3px #e3e3e3;
      border-radius: 45px;
      padding: 15px;
    }
    #benefit .page p {
      padding: 10px;
      font-weight: bold;
    }
    #benefit {
      border: 0px;
      border-radius: 106px;
    }
    #recruit .page{
      display: flex;
      position: relative;
      left: 0%;
    }
    #fc .page {
        display: block;
        text-align: center;
    }

}
@media screen and (max-width:600px) {
    #fc .page {
        text-align: left;
    }
    #shop .page {
        display: block;
    }
    #shop .one-page {
        width: 100%;
        margin-bottom: 20%;
    }
  #svg-box p {
    top: 0%;
    font-size: 300%;
    margin-left: 5%;
  }
}
/*画面幅600px以上の追加指定*/
@media screen and (min-width:600px) {
#greeting .daihyo_name {
    text-align: right;
}
.greeting-part {
  display: flex;
}
#greeting .title {
  position: relative;
  left: 10%;
}
}
@media screen and (max-width: 450px) {
#service .page {
  display: block;
  margin-bottom: 50%;
}

#service-page .page img{
    width: 90%;
}

  #svg-box p {
    font-size: 200%;
  }
}
@media screen and (max-width: 300px) {
  #svg-box p {
top: 0%;
    font-size: 150%;
    margin-left: 2%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px); /* 少し下から */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
