#greeting img{
    display: block;
    margin: 0 auto;
    height: 60%;
}

#greeting .daihyo_name {
  text-align: right;
  font-size: 120%;
  font-weight: bold;
  padding-right: 2%;
  padding-top: 10%;
}

	/*画面幅500px以下の追加指定*/
	@media screen and (max-width:500px) {
        #greeting .daihyo_name {
          padding-top: 0%;
        }
        .faq h2 .kazari {
          line-height: 1;
          font-size: 130%;
          font-weight: bold;
        }
	}/*追加設定ここまで*/

