#svg-box p {
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  top: 20%;
  font-size: 600%;
  color: #3c3c3c;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
    animation-delay: 0s;
  animation-delay: 0.5s;
  text-shadow: 12px 2px 5px rgba(255, 255, 255, 0.4);
  text-align: left;
  margin-left: 10%;
}
#greeting img{
    display: block;
    margin: 0 auto;
    height: 60%;
}

#greeting .daihyo_name {
  text-align: right;
  font-size: 120%;
  font-weight: bold;
  padding-right: 2%;
  padding-top: 10%;
}
#service {
  display: block;
}
#service .page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
  border: solid 4px #e3e3e3;
  border-radius: inherit;
}
#message h1 {
  text-align: center;
}
#message p {
  text-align: center;
}

#benefit th {
  vertical-align: baseline;
}

#recruit #message{
    margin-bottom: 10%;
}

#recruit .page{
  display: flex;
  position: relative;
  left: 35%;
}
#benefit .page p {
  padding: 25px;
  font-weight: bold;
}
#benefit {
  border: solid #bfbfbf 1px;
  border-radius: 106px;
}

#shop .one-page {
  width: 40%;
}
#shop .page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
#fc .page {
  display: flex;
  margin-bottom: 10%;
  justify-content: space-around;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  background-color: white;
  padding: 50px;
}
#fc img {
  width: 360px;
}
.button-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-bottom: solid 5px #ac5aad;
    border-radius: 5px;
    background-color: #dc8add;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    transition: .5s ease;
}

.button-4:hover {
    transform: translateY(3px);
    border-bottom-width: 2px;
}
#company-info table{
  width: 100%;
  border-collapse: collapse;
}
#company-info table tr{
  border-bottom: solid 2px white;
}
#company-info table tr:last-child{
  border-bottom: none;
}
#company-info table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 10px 0;
}
#company-info table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
#company-info table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}
@media screen and (max-width:1500px) {
    #service.page {
      display: block;
      margin-bottom: 10%;
      border: solid 3px #e3e3e3;
      border-radius: 45px;
      padding: 15px;
    }
    #benefit .page p {
      padding: 10px;
      font-weight: bold;
    }
    #benefit {
      border: 0px;
      border-radius: 106px;
    }
    #recruit .page{
      display: flex;
      position: relative;
      left: 0%;
    }
    #fc .page {
        display: block;
        text-align: center;
    }

}
@media screen and (max-width:600px) {
    #fc .page {
        text-align: left;
    }
    #shop .page {
        display: block;
    }
    #shop .one-page {
        width: 100%;
        margin-bottom: 20%;
    }
  #svg-box p {
    top: 0%;
    font-size: 300%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 450px) {
  #svg-box p {
    font-size: 200%;
  }
}
@media screen and (max-width: 300px) {
  #svg-box p {
top: 0%;
    font-size: 150%;
    margin-left: 2%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px); /* 少し下から */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

