#greeting img{
    display: block;
    margin: 0 auto;
    height: 60%;
}

#greeting .daihyo_name {
  text-align: right;
  font-size: 120%;
  font-weight: bold;
  padding-right: 2%;
  padding-top: 10%;
}
#service {
  display: block;
}
#service .page {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
  border: solid 4px #e3e3e3;
  border-radius: inherit;
}
#message h1 {
  text-align: center;
}
#message p {
  text-align: center;
}

#benefit th {
  vertical-align: baseline;
}

#recruit #message{
    margin-bottom: 10%;
}

#recruit .page{
  display: flex;
  position: relative;
  left: 35%;
}
#benefit .page p {
  padding: 25px;
  font-weight: bold;
}
#benefit {
  border: solid #bfbfbf 1px;
  border-radius: 106px;
}
@media screen and (max-width:1500px) {
    #service.page {
      display: block;
      margin-bottom: 10%;
      border: solid 3px #e3e3e3;
      border-radius: 45px;
      padding: 15px;
    }
    #benefit .page p {
      padding: 10px;
      font-weight: bold;
    }
    #benefit {
      border: 0px;
      border-radius: 106px;
    }
    #recruit .page{
      display: flex;
      position: relative;
      left: 0%;
    }

}

